:root {
    --primary-color: #2196f3;
    --banner-color: #2f303a;
    --background-text-color: #ffffff;
    --background-cards-color: #f5f4fa;
    --sub-txt-color: #757575;
    --icon-fill: #afb1b8;
    --footer-icon: #43444d;
    --normal-duration: 250ms;
    --normal-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
