.footer {
    background-color: var(--banner-color);
    padding-top: 60px;
    padding-bottom: 60px;
    &__container {
        display: flex;
        align-items: baseline;
    }

    &__address {
        max-width: 231px;
        width: 100%;
        margin-right: 70px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }

    &__social {
    }

    &__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--background-text-color);
        margin-bottom: 20px;
    }
}

.home-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: #ffffff;
    word-spacing: -5px;
}

.address {
    margin-top: 20px;
    &__contacts {
    }

    &__location {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #ffffff;
        margin-bottom: 5px;
        transition: var(--normal-timing-function);
        &:hover,
        &:focus {
            color: var(--primary-color);
        }
    }

    &__mail,
    &__phone {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color 0.25s ease-in-out;
        &:hover,
        &:focus {
            color: var(--primary-color);
        }
    }
}
.social {
    &__item {
    }

    &__item-bg {
    }

    &__link {
    }

    &__link-bg {
        background-color: #43444d;
    }

    &__icon {
    }

    &__icon-white {
        fill: var(--background-text-color);
    }
}

.subscribe {
    margin-left: auto;
    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--background-text-color);
    }

    &__input-mail {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: var(--baner-color);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        color: var(--background-text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    }

    &__icon-send {
        position: absolute;
        top: 13px;
        right: 28px;
    }
    &__form {
        display: flex;
        gap: 12px;
    }
    &__btn {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;

        width: 200px;
        height: 50px;

        background-color: var(--primary-color);
        color: var(--background-text-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.86;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
        border: none;
    }
}

.privacy-checkbox:checked + .agreement-icons .agreement-icon-check {
    opacity: 1;
}
