.team {
    &__info {
        background-color: var(--background-cards-color);
    }

    &__persons {
        display: flex;
        gap: 30px;
    }

    &__staff {
        background-color: var(--background-text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
    }

    &__content {
        border-top: none;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }

    &__prof {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--sub-txt-color);
        margin-bottom: 16px;
    }

    &__social {
    }
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color var(--normal-duration) var(--normal-timing-function),
            fill var(--normal-duration) var(--normal-timing-function);

        &:hover,
        &:focus {
            background-color: var(--primary-color);
        }
    }

    &__icon {
        fill: var(--icon-fill);
        transition: var(--normal-duration) var(--normal-timing-function);
    }
}

.social__link:hover,
.social__link:hover .social__icon {
    fill: var(--background-cards-color);
}
